body{
    font-size: 15px;
    color: black;
    font-family: 'Segoe UI',"SegoeUI",'Microsoft JhengHei',"微軟正黑體","Helvetica Neue",Helvetica,Arial,sans-serif;
}
//font
$font-lg:34px;
$font-md:20px;
$fw-bold:600;
//color
$color-gray: #616161;
$color-aqua:#0067b8;
$bg-primary:#f2f2f2;